.chat-container {
    height: 80vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);    
    margin-top: 5vh;
}

.chat-search-input {
    margin-left: 12px !important;
    flex: 1 !important;
}

.chat-send-message-input {
    margin-left: 12px !important;
    flex: 1 !important;
}

.chat-search-container {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 400;
}

.right-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.chat-send-message-container {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.left-container {
    overflow-y: auto;
    max-height: 100%;
}

.chat-message {
    padding: 12px;
    margin-top: 12px;
    border-radius: 6px;    
    display: flex;
    flex-direction: column;
}

.chat-message-timestamp {
    font-size: smaller;
    margin-top: 12px;
}

.chat-message.other .chat-message-timestamp {
    align-self: flex-end;
}

.chat-message.self .chat-message-timestamp {
    align-self: flex-start;
}

.chat-message.other {
    margin-left: 12px;
    max-width: 50%;
    align-self: flex-start;
    background-color: lightsteelblue;
    color: black;
}

.chat-message.self {
    margin-right: 12px;
    max-width: 50%;
    align-self: flex-end;
    background-color: lightseagreen;
    color: white;
}


.chat-list-item {
    cursor: pointer;
}

.chat-list-item.active {
    background-color: lightgray;    
}

.chat-input {
    top: auto !important;
    bottom: 0 !important;
}