.landing-container {
    width: 100%;    
}

.landing-banner {
    background-color: grey;
    min-height: 300px;
    padding-top: 100px;
    padding-left: 200px;
}

.landing-banner-title {
    font-size: 120px !important;    
}